# CityBikes

Send a request to CityBikes for the city of your choice.

In [5]:
import requests

city_api = "http://api.citybik.es/v2/networks/metro-bike-share"

response = requests.get(city_api)

if response.status_code == 200:
    data = response.json()
    
    company_name = data.get("network", {}).get("company", "N/A")
    
    stations = data.get("network", {}).get("stations", [])
    first_station_name = stations[0].get("name", "N/A") if stations else "No stations found"
    
    print(company_name)
    print(first_station_name)
else:
    print("Error")

['Los Angeles County Metropolitan Transportation Authority (Metro)', 'Bicycle Transit Systems', 'BCycle, LLC']
Imperial & 7th

Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

In [6]:
# Extracting the details for each station
stations = data.get('network', {}).get('stations', {}) 

latitudes = []
longitudes = []
number_of_bikes = []

for station in stations:
    lat = station.get("latitude", "N/A")
    lon = station.get("longitude", "N/A")
    num_bikes = station.get("free_bikes", "N/A")
    
    latitudes.append(lat)
    longitudes.append(lon)
    number_of_bikes.append(num_bikes)

print(latitudes[:5])  # Print the first 5 latitudes as a sample
print(longitudes[:5])  # Print the first 5 longitudes as a sample
print(number_of_bikes[:5])  # Print the first 5 bike counts as a sample

[34.0348, 34.03919, 34.04989, 34.05772, 34.03286]
[-118.23128, -118.23253, -118.25588, -118.24897, -118.26808]
[11, 13, 10, 8, 9]

Put your parsed results into a DataFrame.

In [8]:
import pandas as pd

df = pd.DataFrame({
    'Latitude': latitudes,
    'Longitude': longitudes,
    'Number of Bikes': number_of_bikes
})

df

     Latitude  Longitude  Number of Bikes
0    34.03480 -118.23128               11
1    34.03919 -118.23253               13
2    34.04989 -118.25588               10
3    34.05772 -118.24897                8
4    34.03286 -118.26808                9
..        ...        ...              ...
219  34.04804 -118.25374                9
220  34.00587 -118.42916                7
221  34.06699 -118.29088                7
222  33.99724 -118.44673                8
223  34.04621 -118.45117               11

[224 rows x 3 columns]