# CityBikes

Send a request to CityBikes for the city of your choice.

In [40]:
import requests

city_api = "http://api.citybik.es/v2/networks/metro-bike-share?fields=id,name,location"

response = requests.get(city_api)

if response.status_code == 200:
    data = response.json()
    
    company_name = data.get("network", {}).get("company", "N/A")
    first_station_name = data.get("network", {}).get("stations", [])[0].get("name", "N/A")
    
    print(company_name)
    print(first_station_name)
else:
    print("Error")

['Los Angeles County Metropolitan Transportation Authority (Metro)', 'Bicycle Transit Systems', 'BCycle, LLC']
Imperial & 7th

Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

In [28]:
latitude = data.get('network', {}).get('location', {}).get('latitude')
longitude = data.get('network', {}).get('location', {}).get('longitude')
stations = data.get('network', {}).get('stations', {}) 
number_of_bikes = []
for station in stations:
    num_bikes = station.get("free_bikes", "N/A")
    number_of_bikes.append(num_bikes)

print(latitude)
print(longitude)
print(number_of_bikes)

34.04855
-118.25905
[7, 13, 14, 5, 7, 6, 9, 5, 17, 9, 13, 7, 3, 5, 5, 9, 8, 3, 4, 2, 7, 2, 12, 2, 11, 4, 5, 8, 10, 5, 7, 12, 4, 5, 12, 7, 7, 9, 14, 3, 10, 7, 9, 1, 6, 9, 7, 7, 4, 7, 21, 3, 20, 4, 9, 8, 5, 3, 2, 5, 8, 5, 11, 3, 4, 6, 5, 3, 10, 5, 7, 7, 10, 3, 4, 13, 7, 7, 7, 8, 7, 2, 3, 2, 10, 3, 2, 7, 5, 7, 10, 14, 5, 7, 11, 13, 10, 5, 10, 6, 10, 3, 16, 14, 15, 10, 10, 7, 7, 6, 9, 8, 12, 7, 1, 5, 4, 11, 10, 6, 7, 9, 5, 12, 8, 7, 14, 10, 3, 10, 6, 5, 8, 13, 5, 8, 4, 8, 7, 5, 2, 5, 5, 7, 8, 10, 2, 5, 3, 2, 4, 9, 6, 7, 6, 9, 3, 3, 7, 8, 4, 3, 5, 5, 3, 7, 2, 6, 10, 3, 7, 5, 3, 3, 6, 9, 4, 12, 2, 11, 3, 9, 8, 13, 8, 6, 6, 7, 8, 7, 7, 14, 7, 21, 7, 8, 10, 4, 17, 6, 8, 6, 6, 11, 5, 13, 9, 9, 7, 4, 3, 6, 4, 4, 5, 5, 8, 1, 7, 14, 3, 5, 3, 10]

Put your parsed results into a DataFrame.

In [33]:
import pandas as pd

df = pd.DataFrame({
    'Latitude': latitude,
    'Longitude': longitude,
    'Number of Bikes': number_of_bikes
})

df

     Latitude  Longitude  Number of Bikes
0    34.04855 -118.25905                7
1    34.04855 -118.25905               13
2    34.04855 -118.25905               14
3    34.04855 -118.25905                5
4    34.04855 -118.25905                7
..        ...        ...              ...
219  34.04855 -118.25905               14
220  34.04855 -118.25905                3
221  34.04855 -118.25905                5
222  34.04855 -118.25905                3
223  34.04855 -118.25905               10

[224 rows x 3 columns]